/* Headers */

.toolbar-header {
    padding: 10px !important;
}

.pane-title {
    margin-left: 10px;
    font-weight: bold;
}

/* Drag'n'drop */

.dropzoneWaiting {
    background-color: #FF95C8;
}

.dropzoneActive {
    background-color: #DB2679;
}

.draggedItem {
    border: 1px dashed #000;
}

.movableNodeContainer > li, .movableNodeContainer > span {
    cursor: -webkit-grab;
}

li.hovered {
    background: #FF95C8;
}

/* Panes */

.flexPane {
    display: flex;
    flex-direction: column;
}

.flexPane > div:nth-child(2) {
    flex: 1;
}

.paneForm {
    padding-top: 10px;
    margin-left: 10px;
}

.paneForm input {
    margin-top: 5px;
}

/* Modal window */

body {
    display: flex;
}

.modalHidden {
    display: none;
}

.modalVisible {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;

    z-index: 9999;
    background: rgba(0, 0, 0, 0.7);
    margin: 6px;
    border-radius: 10px;
    border: 2px solid black;
    padding: 10px;
}

.modalInner {
    background: white;
    padding: 20px;
    border-radius: 4px;
}

/* Scrollbars */

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
}
